
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form action="">
                <input type="text" class="form-control" placeholder="Search Cinema ..." list="list" ng-model="searchKey" ng-change="searchCinema()">
                <datalist id="list">
                    <option value="{{item.name}}" ng-repeat="item in searchList track by $index"></option>
                </datalist>
            </form>
        </div>
    </div>
    <span class="badge  bg-color-darkorange">Coming Soon</span>
    <owl-carousel class="owl-carousel carousel owl-theme" data-options="{ items:10,responsive:{
                                        0:{
                                            items:3
                                        },
                                        500:{
                                            items:10
                                        }
                                }
                                }">
        <owl-carousel-item ng-repeat="cinema in upcomingCinemas">
            <div class="card padding-v-5">
                <div class="easy-block-v1">
                    <img class="img-responsive img-fixed-height-150" src="{{cinema.general.posterUrl}}" alt="">
                    <div class="easy-block-v1-badge rgba-red" ng-if="cinema.general.releaseDt">{{cinema.general.releaseDt | date : 'mediumDate'}}</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h4 class="ellipsis-text"><a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">{{cinema.name}}</a></h4>
                </div>
            </div>
        </owl-carousel-item>
    </owl-carousel>

    <div class="row margin-top-20">
        <div class="col-md-2" ng-repeat="cinema in upcomingCinemas"><a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">{{cinema.name}}</a></div>
    </div>
</div>