<div class="container" ng-if="!isLoading">
	<div class="row">
		<div class="col-md-2 col-xs-6">
			<div class="card">
				<img class="card-img-top img-fixed-height-250" src="{{cinema.general.posterUrl}}" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-4 col-xs-6">
			<div class="padding-left-10">
				<h2>{{cinema.name}}</h2>
				<ul>
					<li ng-if="cinema.lng">Language : {{cinema.lng}}</li>
					<li ng-if="cinema.general.banner.name">Banner : {{cinema.general.banner.name}}
					</li>
					<li ng-if="cinema.general.genre.length">Genre :
						<and list="cinema.general.genre"></and>
					</li>
					<li ng-if="cinema.general.releaseDt">Release : {{cinema.general.releaseDt | date :'mediumDate'}}
					</li>
					<li ng-if="cinema.general.duration">Duration : {{cinema.general.duration}}
					</li>
					<li ng-if="cinema.general.certificate">Certificate : {{cinema.general.certificate}}
					</li>
					<li ng-if="cinema.general.budget">Budget : {{cinema.general.budget}}</li>
					<li ng-if="cinema.general.collection">Collection : {{cinema.general.collection}}</li>
					<li ng-if="cinema.general.result">Result : {{cinema.general.result}}</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 margin-top-10">
			<div class="bs-callout bs-callout-info">
				<h4>Synopsis</h4>
				<p>
					{{cinema.name}} is a {{cinema.general.releaseDt | date :'yyyy'}} Indian Telugu-language
					<and list="cinema.general.genre"></and>
					cinema directed by {{director.name}} and produced by {{producer.name}} under the banner of {{cinema.general.banner.name}}.
				</p>
				<div>
					<span class="badge  bg-color-tomato">Stars : </span>
					<span ng-repeat="cast in cinema.people.cast"><a ui-sref="celebrity({celebrityName:cast.celebrityId})" href="#/celebrity/{{cast.celebrityId}}" data-toggle="tooltip" title="{{cast.type}}" data-placement="top">{{cast.name}} </a></span>
				</div>
			    <div>
					<span class="badge  bg-color-tomato">Crew : </span>
					<span ng-repeat="crew in cinema.people.crew"><a ui-sref="celebrity({celebrityName:crew.celebrityId})" href="#/celebrity/{{crew.celebrityId}}" data-toggle="tooltip" title="{{crew.type}}" data-placement="top">{{crew.name}} </a></span>
				</div>
				<h4>Rating : {{cinema.general.rating}}</h4>
				<ul class="list-inline star-vote">
					<li ng-repeat="number in [1,2,3,4,5]">
						<i ng-class="{'fa fa-star': (number-cinema.general.rating)<=0,'fa fa-star-o': (number-cinema.general.rating)>=1,'fa fa-star-half-o': ((number-cinema.general.rating)>0 && (number-cinema.general.rating)<1)}"></i>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>

</div>
<div class="container" ng-if="cinema.songs.list.length || cinema.songs.releaseDt">
	<span class="badge bg-color-MUSIC">Songs</span> <a href="" ng-click="setCurrentSong(cinema.songs.youtubeUrl)">All Songs</a>
	<div class="row">
		<div class="col-md-6">
			<ol>
				<li ng-repeat="song in cinema.songs.list">
					<a href="" ng-click="setCurrentSong(song.youtubeUrl)">
						<h4 class="color-MUSIC">{{song.name}}</h4>
					</a>Lyrics : <span ng-repeat="lyricist in song.lyricist">{{lyricist.name}}
						</span> | Singers: <span ng-repeat="singer in song.singers">{{singer.name}},</span>
				</li>
			</ol>
		</div>
		<div class="col-md-6">
			<my-youtube class="youtube-320" code="currentSong"></my-youtube>
		</div>
	</div>
</div>

<div class="container" ng-if="cinema.videos.length">
	<span class="badge bg-color-TEASER">Trailers/Videos</span>
	<div class="row">
		<owl-carousel class="owl-carousel carousel owl-theme" data-options="{autoplay:false,nav:true,dots:false,video:true,responsive:{
            0:{
                items:1
            },
            500:{
            items:2
            }
        }}">
			<owl-carousel-item ng-repeat="video in cinema.videos">
				<my-youtube class="youtube-320" code="video.url"></my-youtube>
			</owl-carousel-item>
		</owl-carousel>
	</div>
</div>

<div class="container" ng-if="cinema.images.length">
	<span class="badge bg-color-tomato">Images</span>
	<owl-carousel class="owl-carousel carousel owl-theme" data-options="{nav:false,dots:true}">
		<owl-carousel-item ng-repeat="img in cinema.general.photos">
			<div class="card">
				<img class="card-img-top img-responsive" src="{{img}}" alt="Card image cap">
			</div>
		</owl-carousel-item>
	</owl-carousel>
</div>