<div class="container">
    <div class="row">
        <!-- Main Content -->
        <div class="col-md-6">
            <span class="badge  bg-color-INCINEMAS">Now Showing</span>
            <owl-carousel class="owl-carousel carousel owl-theme" data-options="{ items:10,dots: false, nav: false,responsive:{
                            0:{
                                items:3
                            },
                            500:{
                              items:5
                            }
                       }
                     }">
                <owl-carousel-item ng-repeat="cinema in recentCinemas">
                    <div class="card padding-v-5">
                        <div class="easy-block-v1">
                            <img class="img-responsive img-max-height-150" src="{{cinema.general.posterUrl}}" alt="">
                            <div class="easy-block-v1-badge rgba-red" ng-show="{{cinema.general.rating}}">{{cinema.general.rating}}</div>
                        </div>
                        <div class="block-grid-v2-info rounded-bottom">
                            <h4 class="ellipsis-text"><a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">{{cinema.name}}</a></h4>
                            <ul class="list-inline star-vote">
                                <li ng-repeat="number in [1,2,3,4,5]">
                                    <i ng-class="{'fa fa-star': (number-cinema.general.rating)<=0,'fa fa-star-o': (number-cinema.general.rating)>=1,'fa fa-star-half-o': ((number-cinema.general.rating)>0 && (number-cinema.general.rating)<1)}"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </owl-carousel-item>
            </owl-carousel>
        </div>
        <div class="col-md-6">
            <div class="carousel slide carousel-v1" id="myCarousel-1">
                <div class="carousel-inner" ng-repeat="post in videos">
                    <div ng-class="{active: $index == 4}" class="item">
                        <img class="img-max-height-250" src="https://i.ytimg.com/vi/{{post.media.video.youtube[0]}}/maxresdefault.jpg">
                        <div class="carousel-caption">
                            <p>{{post.msg.local.ttl}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
								<i class="fa fa-angle-left"></i>
							</a>
                    <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
								<i class="fa fa-angle-right"></i>
							</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== Container Part ===-->
<div class="container">
    <div class="row">
        <!-- Main Content -->
        <div class="col-md-9">
            <!-- Tab v4 -->
            <div class="tab-v1">
                <!-- Tab Heading -->
                <div class="tab-heading">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="home active">
                            <a href="#tab-v4-a1" role="tab" data-toggle="tab">Trending</a>
                        </li>
                        <li>
                            <a href="#tab-v4-a2" role="tab" data-toggle="tab">Trailers</a>
                        </li>
                        <li>
                            <a href="#tab-v4-a3" role="tab" data-toggle="tab">Teaser</a>
                        </li>
                        <li>
                            <a href="#tab-v4-a1" role="tab" data-toggle="tab">Short Films</a>
                        </li>
                    </ul>
                </div>
                <!-- Tab Content -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-v4-a1">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Blog Thumb -->
                                <div class="blog-thumb-v2" ng-repeat="post in videos.slice(0,5)">
                                    <div class="blog-thumb-grad margin-bottom-5">
                                        <img src="https://i.ytimg.com/vi/{{post.media.video.youtube[0]}}/mqdefault.jpg" alt="">
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a ui-sref="post({postName:post._id})" href="#/post/{{post._id}}">{{post.local.ttl}}</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li ng-bind="post.lstMntDT| date:'mediumDate'"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <!-- Blog Thumb -->
                                <div class="blog-thumb-v2" ng-repeat="post in videos.slice(5,10)">
                                    <div class="blog-thumb-grad margin-bottom-5">
                                        <img src="https://i.ytimg.com/vi/{{post.media.video.youtube[0]}}/mqdefault.jpg" alt="">
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a ui-sref="post({postName:post._id})" href="#/post/{{post._id}}">{{post.local.ttl}}</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-v4-a2">
                    </div>
                    <div class="tab-pane fade" id="tab-v4-a3">
                    </div>
                </div>
                <!-- End Tab Content -->
            </div>
            <!-- End Tab v4 -->
        </div>
        <!-- End Main Content -->

        <!-- Right Sidebar -->
        <div class="col-md-3">
            <!-- Social Shares -->
            <div class="margin-bottom-10">
                <h2 class="title-v4">Social</h2>
                <ul class="blog-social-shares">
                    <li>
                        <i class="rounded-x fb fa fa-facebook"></i>
                        <a class="rounded-3x" href="#">Like</a>
                        <span class="counter">31,702</span>
                    </li>
                    <li>
                        <i class="rounded-x tw fa fa-twitter"></i>
                        <a class="rounded-3x" href="#">Follow Us</a>
                        <span class="counter">164,290</span>
                    </li>
                    <li>
                        <i class="rounded-x gp fa fa-google-plus"></i>
                        <a class="rounded-3x" href="#">Add to circle</a>
                        <span class="counter">5,425,764</span>
                    </li>
                </ul>
            </div>
            <!-- End Social Shares -->
        </div>
        <!-- End Right Sidebar -->
    </div>
</div>
<!--=== End Container Part ===-->

<div class="container">
    <span class="badge  bg-color-darkorange">Coming Soon</span>
    <owl-carousel class="owl-carousel carousel owl-theme" data-options="{ items:10,responsive:{
                                        0:{
                                            items:3
                                        },
                                        500:{
                                            items:10
                                        }
                                }
                                }">
        <owl-carousel-item ng-repeat="cinema in upcomingCinemas">
            <div class="card padding-v-5">
                <div class="easy-block-v1">
                    <img class="img-responsive img-max-height-250" src="{{cinema.general.posterUrl}}" alt="">
                    <div class="easy-block-v1-badge rgba-red">{{cinema.general.releaseDt | date : 'mediumDate'}}</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h4 class="ellipsis-text"><a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">{{cinema.name}}</a></h4>
                </div>
            </div>
        </owl-carousel-item>
    </owl-carousel>
</div>