<spinner show="!isLoading"></spinner>
<div class="container" ng-if="!isLoading">
<div class="row">
        <div class="col-md-2 col-xs-6">
            <div class="card">
                <img class="card-img-top img-240" src="http://res.cloudinary.com/dmsupizyd/image/upload/v1493564545/celebrity/samantha/sam.jpg"
                    alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Samantha Ruth Prabhu</h4>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <span class="badge  bg-color-mediumseagreen">Profile</span>
            <ul>
                <li>Age : 62 </li>
                <li>Height : </li>
                <li>Born : 22 August 1955</li>
                <li>Spouse : </li>
                <li>Siblings : </li>
                <li>Children : </li>
            </ul>
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
 
</div>

<div class="container">
    <span class="badge bg-color-MUSIC">Cinemas</span>

</div>