@import
	url(https://fonts.googleapis.com/css?family=Work+Sans|Hind+Guntur);

[ng\:cloak], [ng-cloak], [data-ng-cloak] {
	display: none !important;
}

body {
	font-family: 'Work Sans', 'Hind Guntur', serif;
	background-color: #eee;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}
span.badge {

    margin-bottom: 5px;
}
ul {
	padding-left: 0px;
	list-style-type: none;
}

p {
	margin: 0 0 0 0;
}

span, p, li {
	font-size: 14px;
}

a:hover {
	text-decoration: none;
}

hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 2px #2d2d2d;
}

.main-view {
    background-color: #eee;
}

.main-view .container {
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.main-view a{
    color: #2e2e2e;
}

.img-small-w{
	max-height: 80px;
	max-width: 125px; 
}

.img-max-height-150{
	max-height: 150px;
}
.img-max-height-250{
    max-height: 250px;
	width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', 'Hind Guntur', serif;
	margin-top: 5px;
	margin-bottom: 5px;
}

.h4, h4 {
	font-size: 16px;
}

.wrapper {
	background-color: #eee;
}

.padding-v-5{
	padding: 0 5px 0 5px;
}

.float-right {
	float: right;
}

.thumbnail .caption {
	padding: 0px;
	color: #333;
}

.ellipsis-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-group {
	margin-bottom: 5px;
}

.jumbotron {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #222;
}

.jumbotron .container {
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #222;
}

.jumbotron p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #fff;
	font-weight: 500;
}

.jumbotron a {
	color: #fff;
}

blockquote {
	margin-bottom: 0px;
}

.inline-block>li {
	display: inline-block;
}

.breadcrumb {
	margin-bottom: 0px;
	background-color: #222;
}

.breadcrumb>li>a {
	color: white;
	text-decoration: none
}

.img-small {
	width: 60px;
	height: 60px;
}

.youtube {
	height: 400px;
}

.youtube-320 {
	height: 320px;
}

.youtube-200 {
	height: 230px;
}

@media ( max-width : 768px) {
	.youtube, .youtube-320 {
		height: 200px;
	}
}

.badge {
	font-weight: 500;
	border-radius: 0;
	display: -webkit-inline-box;
	font-size: inherit;
}

.badge-large {
	font-weight: 500;
	border-radius: 0;
	font-size: 16px;
}

.badge-TEASER {
	background-color: #2196f3;
}

.badge-trailer {
	background-color: #4caf50;
}

.badge-news {
	background-color: #ff9800;
}

.badge-NEXT_ANTY, .badge-shortfilm {
	background-color: #f44336;
}

.badge-video, .badge-live, .badge-history {
	background-color: #f44336;
}

.color-TEASER {
	color: #2196f3;
}

.color-TRAILER {
	color: #4caf50;
}

.color-NEWS {
	color: #ff9800;
}

.color-SHORTFILM {
	color: #f44336;
}

.color-VIDEO {
	color: #f44336;
}

.color-BIRTHDAY {
	color: #ff015d
}

.badge-BIRTHDAY {
	background-color: #ff015d
}


.bg-color-TEASER {
	background-color: #2196f3;
}

.bg-color-TRAILER {
	background-color: #4caf50;
}

.bg-color-BBB {
	background-color: #00bcd4;
}

.bg-color-NEWS {
	background-color: #ff9800;
}

.bg-color-SHORTFILM {
	background-color: #f44336;
}

.bg-color-MUSIC {
	background-color: #8d38c9;
}

.bg-color-INCINEMAS {
	background-color: #4caf50;
}

.bg-color-darkorchid {
	background-color: #8d38c9;
}

.bg-color-darkslateblue {
	background-color: #3f51b5;
}

.bg-color-dodgerblue {
	background-color: #2196f3;
}

.bg-color-mediumseagreen {
	background-color: #4caf50;
}

.bg-color-darkturquoise {
	background-color: #00bcd4;
}

.bg-color-darkorange {
	background-color: #ff9800;
}

.bg-color-tomato {
	background-color: #f44336;
}

.color-darkorchid {
	color: #8d38c9;
}

.color-darkslateblue {
	color: #3f51b5;
}

.color-dodgerblue {
	color: #2196f3;
}

.color-mediumseagreen {
	color: #4caf50;
}

.color-darkturquoise {
	color: #00bcd4;
}

.color-darkorange {
	color: #ff9800;
}

.color-tomato {
	color: #f44336;
}

.color-deepskyblue {
	color: #00b5ec
}

.color-cornflowerblue {
	color: #448aff
}

.color-MUSIC {
	color: #8d38c9;
}


.row {
	margin-left: 0px;
	margin-right: 0px;
}

.col-md-6>.row>.col-md-6 {
	padding-left: 0px;
	padding-right: 0px;
}

.media {
	margin: 2px;
	padding: 5px;
	background-color: white;
}

.media-heading {
	margin-bottom: 0px;
}

.media:first-child {
	margin-top: 2px;
}

.media-body {
	padding-top: 5px;
	padding-bottom: 5px;
}

.img-240 {
	max-height: 240px;
	width: 100%;
}

.img-60 {
	max-height: 70px;
	width: 100%;
}

.img-120 {
	max-height: 120px;
	width: 100%;
}



.fc-event-container>.fa {
	position: inherit;
	display: flex;
}

.fc-unthemed .fc-today {
	background: #fff;
}

.fc-event {
	border: 1px solid #fff;
	background-color: #fff;
}

.fc-event:hover, .ui-widget .fc-event {
	color: black;
	text-decoration: none;
}

.fc-title {
	padding-left: 5px;
	font-family: Source Sans Pro;
}

.fc-toolbar {
	margin-bottom: 0px
}

.fc-toolbar h2 {
	margin: 0;
	font-size: inherit;
}

.fc-button-group {
	font-size: xx-small;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 5px;
	padding-left: 0px;
}

.col-md-4:last-child, .col-md-6:last-child, .col-md-9:last-child {
	padding-right: 0px;
}
