<!-- Topbar blog -->
<div class="blog-topbar">
	<div class="topbar-search-block">
		<div class="container">
			<form action="">
				<input type="text" class="form-control" placeholder="Search">
				<div class="search-close"><i class="icon-close"></i></div>
			</form>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-xs-8">
				<div class="topbar-time"><my-current-time></my-current-time></div>
				<div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
				<ul class="topbar-list topbar-menu">
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Forums</a></li>
					<li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" href="javascript:void(0);">Login</a></strong></li>
					<li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" href="javascript:void(0);">Register</a></strong></li>
				</ul>
			</div>
			<div class="col-sm-4 col-xs-4 clearfix">
				<i class="fa fa-search search-btn pull-right"></i>
				<ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
					<li class="cd-log_reg home"><a class="cd-signin" href="javascript:void(0);">Login</a></li>
					<li class="cd-log_reg"><a class="cd-signup" href="javascript:void(0);">Register</a></li>
				</ul>
			</div>
		</div>
		<!--/end row-->
	</div>
	<!--/end container-->
</div>
<!-- End Topbar blog -->

<!-- Navbar -->
<div class="navbar mega-menu" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="res-container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
			<div class="navbar-brand">
				<a href="index.html">
							<img src="assets/img/logo.png" alt="Logo">
						</a>
			</div>
		</div>
		<!--/end responsive container-->

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-responsive-collapse">
			<div class="res-container">
				<ul class="nav navbar-nav">
					<!-- Trending -->
					<li class="dropdown home active">
						<a href="/trending" class="dropdown-toggle" data-toggle="dropdown">
                                   <i class="fa fa-line-chart" aria-hidden="true"></i> Trending
                                </a>
					</li>
					<!-- End Trending -->

					<!-- Cinema -->
					<li class="dropdown mega-menu-fullwidth">
						<a href="cinemas" class="dropdown-toggle" data-toggle="dropdown">
                                   <i class="fa fa-film" aria-hidden="true"></i>  Cinemas
                                </a>
					</li>
					<!-- End Cinema -->

					<!-- Celebrity -->
					<li class="dropdown mega-menu-fullwidth">
						<a href="/celebrities" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="fa fa-user" aria-hidden="true"></i> Celebrity
                                </a>
					</li>
					<!-- End Celebrity -->

					<!-- Juke Box -->
					<li class="dropdown mega-menu-fullwidth">
						<a href="/jukebox" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-music" aria-hidden="true"></i> Juke Box
                                </a>
					</li>
					<!-- End Juke Box -->

					<!-- Calendar -->
					<li class="dropdown mega-menu-fullwidth">
						<a href="/calendar" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> Calendar
                                </a>
					</li>
					<!-- End Calendar -->

					<!-- Short Films -->
					<li class="dropdown mega-menu-fullwidth">
						<a href="/shortfilms" class="dropdown-toggle" data-toggle="dropdown">
                                    Short Films
                                </a>
					</li>
					<!-- End Short Films -->
				</ul>
			</div>
			<!--/responsive container-->
		</div>
		<!--/navbar-collapse-->
	</div>
	<!--/end contaoner-->
</div>
<!-- End Navbar -->