<!-- <div class="menu" ng-controller="MenuCtrl">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span><span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><span style="color: #4caf50">Weekend</span>
					Cinema</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				<li aria-controls="navbar" data-toggle="collapse"><a
                        href="/trending"><span ng-class="{ active: isActive('/trending')}">Trending</span></a></li>
					<li aria-controls="navbar" data-toggle="collapse"><a
						href="/calendar"><span ng-class="{ active: isActive('/')}">Calendar</span></a></li>
					<li><a href="/cinemas"><span
							ng-class="{ active: isActive('/cinemas')}">Cinemas</span></a></li>
					<li><a href="/celebrities"><span
							ng-class="{ active: isActive('/celebrities')}">Celebrities</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div> -->


<!--=== Header v8 ===-->
    <div class="header-v8 header-sticky">
        <!-- Topbar blog -->
        <div class="blog-topbar">
            <div class="container">
                <div class="row">
                
                </div><!--/end row-->
            </div><!--/end container-->
        </div>
        <!-- End Topbar blog -->

        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="res-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="navbar-brand">
                        <a href="index.html">
                            <img src="assets/img/themes/logo-news-dark-green.png" alt="Logo">
                        </a>
                    </div>
                </div><!--/end responsive container-->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="res-container">
                        <ul class="nav navbar-nav">
                            <!-- Trending -->
                            <li class="dropdown home active">
                                <a href="/trending" class="dropdown-toggle" data-toggle="dropdown">
                                   <i class="fa fa-line-chart" aria-hidden="true"></i> Trending
                                </a>
                            </li>
                            <!-- End Trending -->

                            <!-- Cinema -->
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="cinemas" class="dropdown-toggle" data-toggle="dropdown">
                                   <i class="fa fa-film" aria-hidden="true"></i>  Cinemas
                                </a>
                            </li>
                            <!-- End Cinema -->

                            <!-- Celebrity -->
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="/celebrities" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="fa fa-user" aria-hidden="true"></i> Celebrity
                                </a>
                            </li>
                            <!-- End Celebrity -->

                            <!-- Juke Box -->
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="/jukebox" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-music" aria-hidden="true"></i> Juke Box
                                </a>
                            </li>
                            <!-- End Juke Box -->

                            <!-- Calendar -->
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="/calendar" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> Calendar
                                </a>
                            </li>
                            <!-- End Calendar -->

                            <!-- Short Films -->
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="/shortfilms" class="dropdown-toggle" data-toggle="dropdown">
                                    Short Films
                                </a>
                                
                            </li>
                            <!-- End Short Films -->
                        </ul>
                    </div><!--/responsive container-->
                </div><!--/navbar-collapse-->
            </div><!--/end contaoner-->
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v8 ===-->