<spinner show="!isLoading"></spinner>
<div class="container" ng-show="!isLoading">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<image class=" img-responsive" ng-src="{{article.imglnk}}"
					ng-show="article.type == 'NEWS'"></image>
				<my-youtube class="youtube-320" code="article.media.video.youtube[0]"
					ng-show="['TEASER','TRAILER'].indexOf(article.type)!=-1"></my-youtube>
			</div>
		</div>
		<div class="col-md-6">
		 <div class="card-block">
                    <h3 class="color-{{article.type}}">{{article.local.ttl}} 
                      <small class="text-muted">By Admin | Last updated 
                          <time-diff date="article.lstMntDT"></time-diff> ago
                      </small>

                    </h3>
                    <h4 class="">{{article.eng.text}}</h4>
                </div>
		</div>
	</div>
</div>