<spinner show="!isLoading"></spinner>
<div class="container" ng-show="!isLoading">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
			                <!-- Indicators -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" ng-if="article.type == 'News'">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-class="{active: $index ==0 }" ng-repeat="img in article.media.img">
                            <img class="img-fixed-height-350 img-responsive" src="{{img}}">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                    <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>							
				<my-youtube class="youtube-320" code="article.media.video.youtube[0]"
					ng-show="['Teaser','TRAILER','Trailer'].indexOf(article.type)!=-1"></my-youtube>
			</div>
		</div>
		<div class="col-md-6">
		 <div class="card-block">
                    <h3 class="color-{{article.type}}">{{article.local.ttl}} 
                      <small class="text-muted">By Admin | Last updated 
                          <time-diff date="article.lstMntDT"></time-diff> ago
                      </small>

                    </h3>
                    <h4 class="">{{article.eng.text}}</h4>
                </div>
		</div>
	</div>
</div>